html {
  scroll-behavior: smooth;
}

body {
  background: rgba(14, 115, 179, 1);
  color: rgb(245, 245, 245);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header .container-headline-parent {
  display: flex;
  align-items: center;
}

header .container-headline h1 {
  color: rgb(245, 245, 245);
  padding: 0 0 1.5rem 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.07rem;
}

header .container-headline h1 > span {
  color: rgb(255,179,71);
}

header .container-headline h2 {
  color: rgb(245, 245, 245);
  letter-spacing: 0.07rem;
  padding-left: 1rem;
}

header .container-headline .create-header {
  line-height: 2rem;
}

header .container-headline .create-header > br {
  display: none;
}

header .get-started-header {
  padding-top: 1.5rem;
}

header .container-headline .bi-arrow-down-circle-fill:hover {
  color: rgb(179, 118, 32);
  cursor: pointer;
}

header .container-headline .bi-arrow-down-circle-fill {
  color: rgb(255,179,71);
  transition: color 250ms;
}

header .container-modal-examples-parent {
  display: none;
}

section .container-modal-configuration {
  display: none;
}

section .modal-configuration {
  border: 2px solid #000; 
  width: 700px; 
  height: 400px; 
  background-color: white; 
  position: relative; 
  bottom: 3.5rem; 
  z-index: 2;
}

section .modal-configuration > span {
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  right: 0.7rem;
  top: 0.6rem;
  line-height: 1.2rem;
}

@media (min-width: 576px) {
  header .container-headline h1 {
    padding: 0 0 1.8rem 2rem;
    font-size: 3.7rem;
  }
  
  header .container-headline h2 {
    padding-left: 2rem;
    font-size: 1.7rem;
  }

  header .container-headline .create-header > br {
    display: block;
  }
}

@media (min-width: 768px) {
  header .container-headline h1 {
    padding: 0 0 2rem 2rem;
    font-size: 4.2rem;
  }
  
  header .container-headline h2 {
    font-size: 2rem;
  }

  header .container-headline .create-header {
    line-height: 2.2rem;
  }
}

@media (min-width: 992px) {
  header .container-headline h1 {
    padding: 0 0 2.2rem 2rem;
    font-size: 5rem;
  }
  
  header .container-headline h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  header .container-headline-parent {
    align-items: start;
    justify-content: center;
    padding-top: 4rem;
  }

  section .container-modal-configuration {
    display: block;
  }

  header .container-modal-examples-parent {
    display: block;
  }
}

@media (min-width: 1400px) {
  header .container-headline h1 {
    padding: 0 0 2.2rem 0;
    font-size: 6rem;
  }
  
  header .container-headline h2 {
    font-size: 2.7rem;
    padding-left: 0;
  }

  header .container-headline .create-header {
    line-height: 3rem;
  }
}